<div class="row">
  <div class="span8 offset2 contain">
    <header>
      <h2>Removing Task <%= @task.name %></h2>
    </header>
    <section>
      <p>Are you sure you wish to remove the task <%= @task.name %>?</p>
      <%= link_to "Delete Task", task_path(@task), method: :delete, :class => "btn" %>
    </section>
  </div>
</div>